


<div class="indicator"
    *ngIf="(connections$ | async) as connections"
    [matMenuTriggerFor]="menu"
    [ngClass]="connections.length ? 'online' : 'offline'"
    [matMenuTriggerData]="{connections: connections}">
</div>

<mat-menu #menu="matMenu" class="connections">
    <ng-template matMenuContent let-connections="connections">
        <ng-container *ngIf="connections.length">
            <span class="connections-title">Connections</span>
            <button
                class="user"
                disabled mat-menu-item>
                <span [ngStyle]="{'background': userService.color}"
                    class="user-photo"></span>
                <span>{{userService.username }} (you)</span>
            </button>
            <button
                class="user"
                disabled mat-menu-item
                *ngFor="let user of connections">
                <span [ngStyle]="{'background': user.color}" class="user-photo"></span>
                <span>{{user.username }}</span>
            </button>
        </ng-container>
        <ng-container *ngIf="!connections.length">
            <app-empty message="You're alone in this room :("></app-empty>
        </ng-container>
    </ng-template>
</mat-menu>
