<div class="terminal-widget"
    [class.fullscreen]="fullscreenStatus"
   >
   <app-terminal-widget-header (execute)="execute()" (toggleFullScreen)="toggleFullscreen($event)"></app-terminal-widget-header>
    <div class="content-wrapper">
        <div #terminalWidget class="content"  [appMouseIndicators]="otherMouseMove" [activeMouses]="otherMouses">
            <div #terminalContainer class="terminal">
                <form [formGroup]="terminalForm">
                    <app-terminal #editor formControlName="content"
                        (cursorActivity)="onCursorActivity($event)"
                        (scroll)="onScrollChange($event)"></app-terminal>
                </form>
            </div>
        </div>

    </div>

</div>
