<div class="terminal-widget"
    [class.fullscreen]="fullscreenStatus">
    <app-terminal-widget-header
        [isRunning]="(terminalWidgetService.isRunning$ | async) || false"
        (watch)="onWatch($event)"
        (execute)="execute()"
        (toggleFullScreen)="toggleFullscreen($event)"
        (downloadEvent)="download()"></app-terminal-widget-header>
    <app-online-indicator></app-online-indicator>
    <div class="content-wrapper">
        <div #terminalWidget class="content"
            [appMouseIndicators]="otherMouseMove" [activeMouses]="otherMouses">
            <div #terminalContainer class="terminal">
                <form [formGroup]="terminalForm">
                    <app-terminal #editor formControlName="content"
                        [change]="editorChange"
                        (focusChange)="focusChange($event)"
                        (cursorActivity)="onCursorActivity($event)"
                        (scroll)="onScrollChange($event)"></app-terminal>
                </form>
            </div>
        </div>

    </div>
</div>
