
<app-particles-background>
    <div class="button-container">
        <h1 >Share Code in Real-time with Developers</h1>
        <p>An online code editor for interviews & more…</p>
        <button mat-fab extended class="create-room-button" (click)="createRoom()">
            <span class="create-room-button_container">
                <span class="create-room-button_label">create room</span>
                <mat-icon class="create-room-button_icon">code</mat-icon>
            </span>
        </button>
    </div>
</app-particles-background>