<header class="terminal-widget-header">
    <div class="controls">
        <button (click)="onExecute()" class="execute-btn icon-button"
            mat-icon-button>
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button class="settings-btn icon-button" mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
        <button (click)="onToggleFullScreen()" class="fullscreen-btn
            icon-button"
            mat-icon-button>
            <mat-icon>fullscreen</mat-icon>
        </button>
    </div>
</header>