<header class="terminal-widget-header">
    <div class="controls">
        <button (click)="onExecute()" class="execute-btn icon-button"
            mat-icon-button>
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button [matMenuTriggerFor]="menu" class="settings-btn icon-button"
            mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
        <button (click)="onToggleFullScreen()" class="fullscreen-btn
            icon-button"
            mat-icon-button>
            <mat-icon>fullscreen</mat-icon>
        </button>
    </div>
</header>
<mat-menu class="settings-menu" #menu="matMenu">
    <button mat-menu-item (click)="onWatch($event)">
        <mat-slide-toggle>
            Watch
        </mat-slide-toggle>
    </button>
    <button mat-menu-item (click)="openShortcutsDialog()">
        <mat-icon>keyboard_command_key</mat-icon>
        <span>Shortcuts</span>
    </button>
    <button mat-menu-item (click)="download()">
        <mat-icon>download</mat-icon>
        <span>Download</span>
    </button>
    <button mat-menu-item (click)="openAboutUsDialog()">
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>
    <span class="version">Version: 1.0.0</span>
</mat-menu>