<h1 mat-dialog-title>Contact Support</h1>
<div class="mat-dialog-content">
    <p>Sorry but it's not possible to contact me through the sandbox :(</p>
    <!-- <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
                <mat-option *ngFor="let food of ['Bug', 'Feature']"
                    [value]="food">
                    {{food}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </form> -->
</div>