 <button  mat-icon-button aria-label="close dialog" mat-dialog-close >
    <mat-icon>close</mat-icon>
</button>
<div class="mat-dialog-content">
    <div class="text">
        <h1>Contact Support</h1>
        <p>You can contact me via:
            <a href="https://t.me/vlad_novski"
                target="_blank">telegram</a></p>
    </div>
    <div class="loop-wrapper">
        <div class="mountain"></div>
        <div class="hill"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="rock"></div>
        <div class="truck"></div>
        <div class="wheels"></div>
    </div>
</div>