:root {
    --success-color: #2D884D;
    --error-color: #B34045;
    --warn-color: #FECF6D;
    --transparent-color: #ffffff38;
    --info-color: #263238;
    --background-color: #25252D;
    --text-color: #ccc;
    --container-background-color: #263238;
    --shadow: 0 0 7px 0 #00000091;
    --transition: all .5s ease-in-out


}