<div class="container">
  <button mat-fab class="logout-btn icon-btn" [class.fullscreen]="hideLeaveBtn"
    (click)="leaveRoom()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <div class="container-wrapper">
    <app-terminal-widget
      [value]="roomService.initialState$ | async"
      [editorChange]="roomService.otherChanged$ | async"
      [otherSelection]="roomService.otherSelectionChange$ | async"
      [otherCursor]="roomService.otherCursorChange$ | async"
      [otherMouses]="(userIds$ | async) || []"
      [otherMouseMove]="(roomService.otherMouseMove$ | async) || []"
      [otherLog]="roomService.executionLog$ | async"
      (logsChange)="onLogsChange($event)"
      (edit)="onChange($event)"
      (cursorChange)="onCursorChange($event)"
      (selectionChange)="onSelectionChange($event)"
      (mouseMove)="onMouseMove($event)"
      (fullscreenChange)="fullscreenChange($event)"></app-terminal-widget>
  </div>
  <button mat-fab class="support-btn icon-btn" [class.hide]="hideLeaveBtn" (click)="contactSupport()">
    <mat-icon>contact_support</mat-icon>
  </button>

</div>
