<button mat-icon-button aria-label="close dialog" mat-dialog-close >
    <mat-icon>close</mat-icon>
</button>
<div class="content">
    <h2>Live coding</h2>
    <p>Welcome to our coding sandbox platform!<br>
        Our aim is to provide you with the best coding experience with our
        <b>real-time live sharing</b> of code feature.</p>
    <p>Our coding sandbox platform has a sleek and <b>minimalistic</b> design
        that
        enhances the user experience. We believe that simplicity is key when it
        comes to coding, and our platform reflects this belief with its clean
        and uncluttered interface.</p>
    <p>Our design philosophy is centered around providing a distraction-free
        environment that allows you to focus solely on your coding tasks. We
        have stripped away any unnecessary elements and streamlined the user
        interface, making it easy to navigate and use.</p>
    <p>We understand that coding can be a challenging and often time-consuming
        process, which is why we have designed our platform to be both
        aesthetically pleasing and functional. Our minimalistic design ensures
        that you can work efficiently without any distractions, while also
        providing an enjoyable and seamless experience.</p>
    <p>
        The platform is designed to make coding easy, fun and more
        <b>collaborative</b>.<br>
        With our coding sandbox, you can easily <b>write</b>, <b>execute</b> and
        <b>share</b> your
        <b>JavaScript and Typescript</b> codes in real-time with your
        colleagues,
        friends or clients.<br>
        Our platform allows you to <b>download</b> a snapshot of
        your current code state, making it easy for you to revisit and pick up
        where you left off.<br>
        We have also made coding even more convenient with our <b>shortcuts</b>
        for
        formatting codes and commenting in/out, saving you time and allowing you
        to focus on coding.<br>
        Additionally, we have included features that allow
        you to see the <b>positions</b> of other clients connected to the same
            room as you, making it easier to collaborate and share ideas.
            At our platform, we pride ourselves on providing a user-friendly and
            collaborative environment where coders of all levels can work
            together
            to achieve their goals. Whether you are a beginner or a seasoned
            developer, our platform has something for you.
        </p>
        <p>In conclusion, our coding sandbox platform is not only a powerful
            tool
            for coders but also a visually pleasing and minimalist platform that
            makes coding an enjoyable experience.</p>
    </div>
