@import "../../../../../../../theme/index.scss";

.shortcuts-container {
    height: 70vh;
}

.mat-column-binding {
    width: 20%;
}

.mat-column-command {
    width: 50%;
}

.shortcuts {
    width: 100%;
    background: var(--background-color);

    th {
        font-weight: bold;
        font-size: 16px;
    }

    th,
    td {
        color: var(--text-color);
    }
}