// @import "~prismjs/themes/prism-okaidia";
@import "./theme/index.scss";
@import "~prismjs/themes/prism-tomorrow";

// @import "~prismjs/themes/prism-solarizedlight";
// @import "~prismjs/themes/prism";

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    z-index: 3;
    cursor: pointer;
    height: 4px;
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-thumb:vertical{
    background: #393942;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #393942;
    border-radius: 10px;
}

.icon-button {
    color: #546E7A;
    border-radius: 12px!important;
}

html,
body {
    background: $background;
    font-family: sans-serif;
    height: 100%;
}

pre[class*="language-"].line-numbers {
    position: relative;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers>code {
    position: relative;
    white-space: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar {
    border-radius: 12px;
    background: #263238;
}
