@import "./theme/index.scss";

@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
@import "tippy.js/dist/tippy.css";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  z-index: 3;
  cursor: pointer;
  height: 4px;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:vertical {
  background: #393942;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  background: #393942;
  border-radius: 10px;
}

.icon-button {
  color: #546e7a;
  border-radius: 12px !important;
}

html,
body {
  background: var(--background-color);
  font-family: sans-serif;
  height: 100%;
}

pre[class*="language-"].line-numbers {
  position: relative;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #3d5a67;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #546e7a;
}

.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: var(--text-color);
}
.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: #546e7a;
}

// mat-icon-stepper selected color change
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: var(--text-color) !important;
}

//input outline color
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--container-background-color) !important;
  // opacity: 1!important;
}

//mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--text-color) !important;
}

// mat-input error outline color
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: var(--text-color) !important;
  opacity: 0.8 !important;
}

// mat-input carent color
.mat-input-element {
  caret-color: var(--text-color) !important;
}

// mat-input error carent color
.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: red !important;
}

// mat-label normal state style
.mat-form-field-label {
  color: rgba(0, 0, 0, 0.6) !important;
  // color: $mainColor!important;
}

// mat-label focused style
.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--text-color) !important;
}

// mat-label error style
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: var(--text-color) !important;
}

.mat-select-arrow-wrapper {
  .mat-select-arrow {
    color: var(--text-color);
  }
}

.mat-select-value {
  color: var(--text-color);
}

.mat-form-field-label {
  /*change color of label*/
  color: var(--text-color) !important;
}

textarea {
  /*change color of label*/
  color: var(--text-color) !important;
}

.close-dialog-icon-btn {
  color: var(--text-color);
  position: absolute !important;
  right: 5px;
  top: 5px;
  z-index: 10;
}

input {
  color: var(--text-color) !important;
}

.tippy-box {
  margin: -10px 0;
  font-size: 12px;

  .tippy-content {
    padding: 2px 5px;
  }
}
